In [2]:
#Kaggle Link

The data is related to direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be subscribed ('yes') or not ('no') subscribed.

There are two datasets: train.csv with all examples (32950) and 21 inputs including the target feature, ordered by date (from May 2008 to November 2010), very close to the data analyzed in [Moro et al., 2014]

test.csv which is the test data that consists of 8238 observations and 20 features without the target feature

Goal:- The classification goal is to predict if the client will subscribe (yes/no) a term deposit (variable y).

The dataset contains train and test data. Features of train data are listed below. And the test data have already been preprocessed.

/https://www.kaggle.com/datasets/rashmiranu/banking-dataset-classification/

In [486]:
#importing required libraries
import numpy as np 
import pandas as pd

In [487]:
#reading the data
ba=pd.read_csv('/content/new_train.csv')

In [488]:
#to see the what is data
ba.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,y
0,49,blue-collar,married,basic.9y,unknown,no,no,cellular,nov,wed,227,4,999,0,nonexistent,no
1,37,entrepreneur,married,university.degree,no,no,no,telephone,nov,wed,202,2,999,1,failure,no
2,78,retired,married,basic.4y,no,no,no,cellular,jul,mon,1148,1,999,0,nonexistent,yes
3,36,admin.,married,university.degree,no,yes,no,telephone,may,mon,120,2,999,0,nonexistent,no
4,59,retired,divorced,university.degree,no,no,no,cellular,jun,tue,368,2,999,0,nonexistent,no

In [489]:
#to know the no.of rows & cols
ba.shape

(32950, 16)

In [490]:
#to see the statistical analysis of data
ba.describe()

                age      duration      campaign         pdays      previous
count  32950.000000  32950.000000  32950.000000  32950.000000  32950.000000
mean      40.014112    258.127466      2.560607    962.052413      0.174719
std       10.403636    258.975917      2.752326    187.951096      0.499025
min       17.000000      0.000000      1.000000      0.000000      0.000000
25%       32.000000    103.000000      1.000000    999.000000      0.000000
50%       38.000000    180.000000      2.000000    999.000000      0.000000
75%       47.000000    319.000000      3.000000    999.000000      0.000000
max       98.000000   4918.000000     56.000000    999.000000      7.000000

In [491]:
#to know the types of variables and null values are present or not
ba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32950 entries, 0 to 32949
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          32950 non-null  int64
 1   job          32950 non-null  object
 2   marital      32950 non-null  object
 3   education    32950 non-null  object
 4   default      32950 non-null  object
 5   housing      32950 non-null  object
 6   loan         32950 non-null  object
 7   contact      32950 non-null  object
 8   month        32950 non-null  object
 9   day_of_week  32950 non-null  object
 10  duration     32950 non-null  int64
 11  campaign     32950 non-null  int64
 12  pdays        32950 non-null  int64
 13  previous     32950 non-null  int64
 14  poutcome     32950 non-null  object
 15  y            32950 non-null  object
dtypes: int64(5), object(11)
memory usage: 4.0+ MB

In [492]:
#to know the feature varibles
ba.dtypes

age             int64
job            object
marital        object
education      object
default        object
housing        object
loan           object
contact        object
month          object
day_of_week    object
duration        int64
campaign        int64
pdays           int64
previous        int64
poutcome       object
y              object
dtype: object

In [493]:
#to know how many null values present in each col
ba.isnull().sum()

age            0
job            0
marital        0
education      0
default        0
housing        0
loan           0
contact        0
month          0
day_of_week    0
duration       0
campaign       0
pdays          0
previous       0
poutcome       0
y              0
dtype: int64

In [494]:
#to see the columns in data set
ba.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [495]:
#to get only numerical cols 
num=ba._get_numeric_data() 
num.head()

   age  duration  campaign  pdays  previous
0   49       227         4    999         0
1   37       202         2    999         1
2   78      1148         1    999         0
3   36       120         2    999         0
4   59       368         2    999         0

In [496]:
#to get only cat cols and changing it as categorical from object 
cat=ba.drop(num,axis=1)
cat=cat.astype('category')
cat.head()

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome,y
0,blue-collar,married,basic.9y,unknown,no,no,cellular,nov,wed,nonexistent,no
1,entrepreneur,married,university.degree,no,no,no,telephone,nov,wed,failure,no
2,retired,married,basic.4y,no,no,no,cellular,jul,mon,nonexistent,yes
3,admin.,married,university.degree,no,yes,no,telephone,may,mon,nonexistent,no
4,retired,divorced,university.degree,no,no,no,cellular,jun,tue,nonexistent,no

In [497]:
#droping the target variable
 cat1=cat.drop(['y'],axis=1)
cat1.head()

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome
0,blue-collar,married,basic.9y,unknown,no,no,cellular,nov,wed,nonexistent
1,entrepreneur,married,university.degree,no,no,no,telephone,nov,wed,failure
2,retired,married,basic.4y,no,no,no,cellular,jul,mon,nonexistent
3,admin.,married,university.degree,no,yes,no,telephone,may,mon,nonexistent
4,retired,divorced,university.degree,no,no,no,cellular,jun,tue,nonexistent

In [498]:
#assign the target variable to t
t=cat.drop(cat1,axis=1)
t

         y
0       no
1       no
2      yes
3       no
4       no
...    ...
32945   no
32946   no
32947   no
32948   no
32949   no

[32950 rows x 1 columns]

In [499]:
#converting the target variable as num by using Labelencoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
t1 = le.fit_transform(t)

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [500]:
#converting encoded value to DataFrame
t1=pd.DataFrame(t1,columns=t.columns)

In [501]:
#converting the object to cat cols
cat_col = pd.Categorical(cat1)
cat1.dtypes

job            category
marital        category
education      category
default        category
housing        category
loan           category
contact        category
month          category
day_of_week    category
poutcome       category
dtype: object

In [502]:
#converting the cat cols to num cols by dummify
df_dummies = pd.get_dummies(cat1)

In [503]:
df_dummies

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32945,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,0
32946,0,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0
32947,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
32948,1,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
32949,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [504]:
#merging the num cols and dummified data as single data
final_data=num.join(df_dummies)
final_data.head()

,age,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,49,227,4,999,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,37,202,2,999,1,0,0,1,0,0,...,0,0,0,0,0,0,1,1,0,0
2,78,1148,1,999,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
3,36,120,2,999,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
4,59,368,2,999,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0

In [505]:
#checking the shape of merged data
final_data.shape

(32950, 58)

In [506]:
#checking the null values in merged data
final_data.isnull().sum()

age                              0
duration                         0
campaign                         0
pdays                            0
previous                         0
job_admin.                       0
job_blue-collar                  0
job_entrepreneur                 0
job_housemaid                    0
job_management                   0
job_retired                      0
job_self-employed                0
job_services                     0
job_student                      0
job_technician                   0
job_unemployed                   0
job_unknown                      0
marital_divorced                 0
marital_married                  0
marital_single                   0
marital_unknown                  0
education_basic.4y               0
education_basic.6y               0
education_basic.9y               0
education_high.school            0
education_illiterate             0
education_professional.course    0
education_university.degree      0
education_unknown                0
default_no                       0
default_unknown                  0
default_yes                      0
housing_no                       0
housing_unknown                  0
housing_yes                      0
loan_no                          0
loan_unknown                     0
loan_yes                         0
contact_cellular                 0
contact_telephone                0
month_apr                        0
month_aug                        0
month_dec                        0
month_jul                        0
month_jun                        0
month_mar                        0
month_may                        0
month_nov                        0
month_oct                        0
month_sep                        0
day_of_week_fri                  0
day_of_week_mon                  0
day_of_week_thu                  0
day_of_week_tue                  0
day_of_week_wed                  0
poutcome_failure                 0
poutcome_nonexistent             0
poutcome_success                 0
dtype: int64

In [507]:
#concating the target variable to data
final_data=final_data.join(t1)

In [508]:
#checking the shape of the data
final_data.shape

(32950, 59)

In [509]:
final_data.head()

,age,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y
0,49,227,4,999,0,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1,37,202,2,999,1,0,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
2,78,1148,1,999,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,1
3,36,120,2,999,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4,59,368,2,999,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [510]:
#Droping the unwanted cols after visulysing the data
final_data12=final_data.drop(['y'],axis=1)
final_data12=final_data.drop(['pdays'],axis=1)
final_data12=final_data.drop(['previous'],axis=1)

In [511]:
#assigning the target column to op
op=final_data.drop(final_data12,axis=1)

In [512]:
op.head()

   previous
0         0
1         1
2         0
3         0
4         0

In [513]:
#importing the spliting slibraries to split the data
from sklearn.model_selection import train_test_split
X_train, X_test,y_train, y_test = train_test_split(final_data12,op,random_state=104,test_size=0.25,shuffle=True)

In [514]:
X_train.head()

,age,duration,campaign,pdays,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y
717,41,254,2,999,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
2775,32,159,1,999,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
29159,36,300,2,3,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,1
32420,40,171,1,999,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4587,26,101,1,3,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [515]:
X_train.shape

(24712, 58)

In [516]:
X_train.head()

,age,duration,campaign,pdays,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,...,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success,y
717,41,254,2,999,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
2775,32,159,1,999,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
29159,36,300,2,3,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,1,1
32420,40,171,1,999,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4587,26,101,1,3,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [517]:
#importing the requried model to fitand predict the data
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [529]:
#pridict the data of train after fitting
y_pred = clf.predict(X_train)

In [519]:
#from sklearn.metrics import accuracy_score
#accuracy = accuracy_score(y_test, y_pred)
#print("Accuracy:", accuracy)

In [530]:
#checking the accuracy of the model for train data
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_train, y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0

In [531]:
#importing the requried model to fitand predict the data
Clf = DecisionTreeClassifier()
Clf.fit(X_test,y_test)

DecisionTreeClassifier()

In [533]:
#pridict the data of test, after fitting
Y_pred=Clf.predict(X_test)

In [536]:
#checking the accuracy of the model for test data
acc=accuracy_score(y_test,Y_pred)
print("Accuracy",acc)

Accuracy 1.0